arize-phoenix
openinference-instrumentation-langchain
openai~=1.61.1
python-dotenv~=1.0.1
fastapi~=0.110.0
pandas~=2.2.1
httpx~=0.27.0
azure-monitor-opentelemetry
opentelemetry-exporter-otlp
azure-ai-inference
opentelemetry
azure-ai-projects
azure-identity

azure-core~=1.32.0
uvicorn~=0.28.0
pydantic~=2.10.6